<% layout('layouts/boilerplate.ejs') -%>

<body>
  <div class="form-container">
    <h3>Create New List</h3>

    <!-- Form to create a new listing -->
    <form method="POST" action="/listings" class="create-form">
      <!-- Input field for listing title -->
      <fieldset>
        <legend>Title</legend>
        <input
          name="listing[title]"
          type="text"
          placeholder="Enter title"
          required
        />
      </fieldset>

      <!-- Textarea for listing description -->
      <fieldset>
        <legend>Description</legend>
        <textarea
          name="listing[description]"
          cols="30"
          rows="5"
          placeholder="Write description"
          required
        ></textarea>
      </fieldset>

      <!-- Input field for image URL -->
      <fieldset>
        <legend>Image URL</legend>
        <input
          name="listing[image][url]"
          type="text"
          placeholder="Enter image URL/LINK"
          required
        />
      </fieldset>

      <!-- Input field for listing price -->
      <fieldset>
        <legend>Price</legend>
        <input
          name="listing[price]"
          type="number"
          placeholder="Enter price"
          required
        />
      </fieldset>

      <!-- Input field for country name -->
      <fieldset>
        <legend>Country</legend>
        <input
          name="listing[country]"
          type="text"
          placeholder="Country name"
          required
        />
      </fieldset>

      <!-- Input field for location -->
      <fieldset>
        <legend>Location</legend>
        <input
          name="listing[location]"
          type="text"
          placeholder="Enter location"
          required
        />
      </fieldset>

      <!-- Submit button to add the listing -->
      <button type="submit">ADD</button>
    </form>
  </div>
</body>
